<div>
    <div class="header">
        <h1>Obrigado pelo agendamento!</h1>

        <h2>Entraremos em contato!</h2>
        <img src="~/images/cat-header-placeholder.jpg" alt="três gatinhos tocando teclado" class="img-header" />
    </div>
</div>