@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="header">
        <h1>Bem-vindo ao site da Veterinária Aumigos!</h1>
        <img src="~/images/cat-header-placeholder.jpg" alt="três gatinhos tocando teclado" class="img-header" />
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ante lectus, tristique a luctus auctor, mollis sit amet turpis. 
        Sed pharetra quis nisi eget hendrerit. Duis posuere faucibus rhoncus. Cras faucibus nulla eu orci commodo, vel aliquam sapien mattis. 
        Vestibulum pellentesque tincidunt dui et imperdiet. Donec pulvinar enim nec lacus aliquet, et dapibus lorem ultrices. 
        Pellentesque et quam at odio porttitor dapibus id non justo. Sed sed dapibus lectus. Proin ornare tellus in neque maximus pellentesque. 
        Curabitur sit amet pretium nulla, vel ultricies sem.
    </p>
    <p>
        Vivamus a sagittis justo. Pellentesque porta ornare ipsum in euismod. Quisque quis urna pretium, maximus ex a, pellentesque mi. 
        Proin vestibulum nisi eget felis condimentum, id varius lectus commodo. Suspendisse ac dictum quam. 
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque orci turpis, accumsan eu ultrices eget, pulvinar ut odio.
    </p>
</div>
