@{
    ViewData["Title"] = "Serviços";
}

<div>

        <h1>Serviços</h1>

    <ul>
        <li>
            <b>Serviço 1</b>
            <ul>
                <li>Descrição</li>
                <li>Valor</li>
            </ul>
        </li>
        <li>
            <b>Serviço 2</b>
            <ul>
                <li>Descrição</li>
                <li>Valor</li>
            </ul>
        </li>
        <li>
            <b>Serviço 3</b>
            <ul>
                <li>Descrição</li>
                <li>Valor</li>
            </ul>
        </li>
        <li>
            <b>Serviço 4</b>
            <ul>
                <li>Descrição</li>
                <li>Valor</li>
            </ul>
        </li>
    </ul>
</div>